/* .logo {
    display: flex;
    align-items: center;
} */

.logo-img {
  background-color: #6681e8;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 780px) {
    height: 35px;
    width: 35px;
  }
}

.circle1,
.circle3 {
  background-color: white;
  height: 13px;
  width: 13px;
  border-radius: 50%;

  @media screen and (max-width: 780px){
    height: 12px;
    width: 12px;
  }

}

.circle1 {
  z-index: 3;
  margin-top: 10px;
}

.circle2 {
  background-color: #a3b3f1;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 33px;

  @media screen and (max-width: 780px) {
    height: 12px;
    width: 12px;
  }

}
.circle3 {
  margin-bottom: 10px;

  @media screen and (max-width: 780px) {
    margin-bottom: 7px;
  }
}

.logo-para {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;

  @media screen and (max-width: 780px) {
    font-size: 18px;
  }
}
