.header {
    background-color: #1F2125;
    color: #fff;
}

.top-header {
    padding-top: 20px;
}

.header-searchbar{
    margin-left: 50px;
    position: relative;
    left: 35px;
    bottom: 3px;
}

.inp-header{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 8px;
    padding-left: 35px;
    background-color: #2C2F36;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}