.table {
  //   padding: 30px;
  background: #fff;
  border-radius: 12px;
  width: 100%;
  //   border: 1px solid rgba(0, 0, 0, 0.0392156863);
}

.table-head {
  color: #82878c;

  .qty {
    @media screen and (min-width: 280px) and (max-width: 500px) {
      // padding-left: 10px;
    }
  }

  .table-head-data {
    padding-bottom: 20px;
    font-weight: 300;
    padding-right: 15px;

    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding-right: 20px;
    }
  }

  .table-head-amount {
    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding-left: 30px;
    }
  }

  .table-head-data-last {
    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding-left: 50px;
    }
  }
}

.table-body-data {
  padding-bottom: 20px;
  padding-right: 15px;

  @media screen and (min-width: 280px) and (max-width: 500px) {
    padding-right: 20px;
  }
}

.tbody-data-price {
  // padding-left: 30px;
  // padding-right: 30px;
  text-align: right;

  @media screen and (min-width: 500px) and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  @media screen and (min-width: 280px) and (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// .more {
//   width: 20px;
//   margin-top: 12px;

//   @media screen and (min-width: 500px) and (max-width: 768px) {
//     margin-top: -3px;
//   }

//   @media screen and (min-width: 280px) and (max-width: 500px) {
//   }
// }
