@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");

.billing-main {
  background-color: #f6f6f6;
  color: #212328;
  .btm-header {
    border-top: 0.1px solid rgba(95, 97, 100, 0.2509803922);
    padding-left: 50px;
    background-color: #212328;
    color: #fff;

    @media screen and (min-width: 700px) and (max-width: 768px) {
      padding-left: 20px;
    }
  }

  .arrow-left {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }

  .arrow-left-para {
    margin-left: 15px;
    font-weight: 400;
  }
}

.main-section {
  display: flex;
  position: relative;
  bottom: 60px;
  margin-left: 50px;
  margin-right: 20px;

  @media screen and (min-width: 700px) and (max-width: 768px) {
    margin-left: 35px;
  }

  @media screen and (min-width: 500px) and (max-width: 700px) {
    display: block;
    margin-left: 20px;
  }

  @media screen and (min-width: 280px) and (max-width: 500px) {
    display: block;
    margin-left: 20px;
  }
}

.left-section {
  width: 65%;
  margin-right: 15px;

  @media screen and (min-width: 500px) and (max-width: 700px) {
    width: 100%;
  }

  @media screen and (min-width: 280px) and (max-width: 500px) {
    width: 100%;
  }

  .section1 {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    // box-shadow: 1px 3px 8px -8px #888888;
    border: 1px solid #0000000a;

    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding: 30px 20px;
    }

    .top-section {
      .section1-header {
        font-size: 22px;
        font-weight: 600;

        @media screen and (min-width: 500px) and (max-width: 768px) {
          font-size: 18px;
        }

        @media screen and (min-width: 280px) and (max-width: 500px) {
          font-size: 16px;
        }

        .blue-num {
          color: #6681e8;
        }

        .small-font {
          font-size: 14px;
          font-weight: 500;
          color: #797e82;

          @media screen and (min-width: 700px) and (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
      .copy-icon {
        color: #6681e8;
        font-weight: 300;

        @media screen and (min-width: 500px) and (max-width: 768px) {
          font-size: 12px;
        }

        @media screen and (max-width: 500px) {
          font-size: 12px;
        }
        .link-icon {
          width: 25px;
          margin-right: 3px;

          @media screen and (min-width: 700px) and (max-width: 768px) {
            width: 15px;
            margin-right: 0;
          }
        }
      }
    }

    .section1-para {
      padding: 10px 0;
      font-weight: 500;
      color: #212328c7;
      @media screen and (min-width: 280px) and (max-width: 500px) {
        padding-top: 20px;
      }

      .span-open-para {
        background-color: #dcf3ff;
        border: none;
        border-radius: 12px;
        padding: 3px 8px;
        margin-right: 10px;

        @media screen and (min-width: 500px) and (max-width: 768px) {
          font-size: 12px;
        }
      }

      .span-due-para {
        font-size: 14px;

        @media screen and (min-width: 500px) and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }

    .section1-para2 {
      padding-top: 18px;

      @media screen and (min-width: 280px) and (max-width: 500px) {
        display: block;
        width: 100%;
      }

      .btn {
        padding: 12px 35px;
        font-weight: 400;

        @media screen and (min-width: 500px) and (max-width: 768px) {
          font-size: 12px;
          padding: 10px 20px;
          font-weight: 400;
        }
      }

      .send-invoice-btn,
      .edit-invoice-btn,
      .add-note-btn {
        margin-right: 10px;
        border: none;
        border-radius: 8px;

        @media screen and (min-width: 280px) and (max-width: 500px) {
          margin-right: 0;
        }
      }

      .send-invoice-btn {
        background-color: #1f2125;
        color: #f6f6f6;

        @media screen and (min-width: 280px) and (max-width: 500px) {
          margin-bottom: 20px;
          width: 100%;
          font-size: 14px;
        }
      }

      .edit-invoice-btn,
      .add-note-btn {
        background-color: #fff;
        border: 2px solid #82878c6e;

        @media screen and (min-width: 280px) and (max-width: 500px) {
          margin-bottom: 20px;
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }

  .section2 {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    margin-top: 25px;
    // box-shadow: 1px 3px 8px -8px #888888;
    border: 1px solid #0000000a;

    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding: 30px 20px;
    }

    .section2-header {
      font-size: 22px;
      font-weight: 600;

      @media screen and (min-width: 500px) and (max-width: 768px) {
        font-size: 18px;
      }

      @media screen and (min-width: 280px) and (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .section3 {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.0392156863);

    @media screen and (min-width: 700px) and (max-width: 768px) {
      font-size: 12px;
    }

    @media screen and (min-width: 500px) and (max-width: 700px) {
      font-size: 10px;
    }

    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding: 30px 20px;
    }
    // @media screen and (min-width: 280px) and (max-width: 500px) {
    //   display: none;
    // }

    .section3-div {
      margin-bottom: 40px;
      .section3-div-header {
        font-size: 22px;
        font-weight: 600;
        margin-top: 25px;

        @media screen and (min-width: 500px) and (max-width: 768px) {
          font-size: 18px;
        }

        .customize {
          font-weight: 300;
        }
      }
    }
  }
}

.right-section {
  width: 35%;
  margin-right: 15px;

  @media screen and (min-width: 500px) and (max-width: 768px) {
    margin-right: 0;
  }

  @media screen and (min-width: 500px) and (max-width: 700px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 14px;
  }

  @media screen and (min-width: 280px) and (max-width: 500px) {
    width: 100%;
    margin-top: 25px;
  }

  .right-section1 {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.0392156863);

    @media screen and (min-width: 500px) and (max-width: 700px) {
      width: 49%;
    }

    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding: 30px 20px;
    }
  }

  .right-section1-header {
    font-size: 22px;
    font-weight: 600;

    @media screen and (min-width: 500px) and (max-width: 764px) {
      font-size: 20px;
    }

    @media screen and (min-width: 280px) and (max-width: 500px) {
      font-size: 16px;
    }
  }

  .right-section-texticon {
    @media screen and (min-width: 500px) and (max-width: 764px) {
      font-size: 14px;
    }
  }

  .right-section2 {
    background-color: #fff;
    border-radius: 12px;
    margin-top: 25px;
    padding: 30px;

    @media screen and (min-width: 500px) and (max-width: 700px) {
      width: 49%;
      margin-top: 0;
    }

    @media screen and (min-width: 280px) and (max-width: 500px) {
      padding: 30px 20px;
    }

    .number {
      font-size: 24px;
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-weight: 800;
      color: #6681e8;
      background-color: #c1ccf6;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      border: none;
    }

    .div-after-number {
      position: relative;
      left: 17px;
      bottom: 9px;
      width: 15px;
      height: 15px;
      background-color: #c1ccf6;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 51%;
    }

    .right-section2-header {
      font-size: 22px;
      font-weight: 500;

      @media screen and (min-width: 280px) and (max-width: 700px) {
        // margin-top: 0;
        font-size: 20px;
      }
    }
  }
}

.invoice-btn {
  padding: 15px 0;
  background-color: #6681e8;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  text-align: center;
  margin-top: 25px;
  color: #fff;
  width: 100%;

  @media screen and (min-width: 700px) and (max-width: 768px) {
    padding: 10px 0;
  }
}

.invoice-btn-right {
  @media screen and (min-width: 500px) and (max-width: 700px) {
    position: relative;
    top: 32px;
  }
  @media screen and (min-width: 664px) and (max-width: 700px) {
    position: relative;
    top: 50px;
  }
}
