@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  font-weight: 400;

}

@media screen and (min-width: 400px) and (max-width: 768px){
  body{
    font-size: 14px;
  }
}

@media screen and (min-width: 280px) and (max-width: 400px){
  body{
    font-size: 12px;
  }
}

.width-100{
  width: 100%;
}

.txt-primary-color{
  color: #6681e8;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-centered{
  justify-content: center;
}

.align-centered {
  align-items: center;
  place-items: center;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.text-centered {
  text-align: center;
}

.horizontally-centered {
  place-content: center;
}

.mg-auto {
  margin: auto;
}

.mr-5{
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25{
  margin-right: 25px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-15{
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-90 {
  
  padding-bottom: 90px;
}
.pl-30 {
  padding-left: 30px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-90 {
  padding-right: 90px;
}


a {
  text-decoration: none;
  color: #abadae;;
}

a:focus, a:hover {
  color: #f1f1f1;
}