.text-icon {
  fill: #fff;
  background-color: #6681e8;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @media screen and (max-width: 500px) {
    width: 35px;
    height: 35px;
  }
}

.txt-icon-para_date {
  .txt-icon-para {
    margin-bottom: 5px;
    font-weight: 400;

  }

  .txt-icon-date {
    color: #82878c;
    font-weight: 300;
  }

 
}

.slider-icon {
  .slider {
    width: 30px;

    @media screen and (min-width: 420px) and (max-width: 768px){
      width: 22px;
    }
  }
}
.slider-icon-div {
  font-weight: 300;
  @media screen and (min-width: 500px) and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 500px) {
    font-size: 10px;
  }


}


.profile-img-div{
    margin-top: 25px;
    .profile-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
      }

      .profile-img-para {
        font-weight: 400;
      }

}


.envelope-div{

    .envelope-para{
        font-weight: 400;
    }
}

.calendar-div{

    .calendar-para{
        font-weight: 400;
    }
}

.hashtag-div{

    .hashtag-para{
        font-weight: 400;
    }
}